/D3D12
/DroneFlightv1.exe
/DroneFlightv1_BurstDebugInformation_DoNotShip
/DroneFlightv1_Data
/MonoBleedingEdge
/UnityCrashHandler64.exe
/UnityPlayer.dll
/WinPixEventRuntime.dll
*.cpython-310.pyc
/wandb
/SavedModels/
/Linux_Env/
/Linux_Env.tar
/Linux_Env_Server.tar
/Env
/Collected_Experience/
/data/
/PPO_Unity/results/
/SAC_Unity/results/
results/
saved_models/
saved_models_mappo/
saved_models_mappo_no_curriculum/
__pycache__/
.pytest_cache/
